<div class="container-footer">
  <div class="header-section">
      <div class="customer-icons">
        <img src="../../../assets/pictures/logo/customers/soprasteria_white.png">
        <img src="../../../assets/pictures/logo/customers/lezardiere.png">
    </div>
  </div>
  <div class="content-section">
    <div class="nav-section">
      <h1>Navigation</h1>
      <a (click)="goTo('top')">Go to top</a>
      <a (click)="goTo('hamburger')">Hamburger</a>
      <a (click)="goTo('skillset')">Skillset</a>
      <a (click)="goTo('contact')">Contact</a>
    </div>
    <div class="logo-section">
      <img src="../../../assets/pictures/general/logo.png">
              <div id="cup-container">
                <div class="steam" id="steam1"> </div>
                <div class="steam" id="steam2"> </div>
                <div class="steam" id="steam3"> </div>
                <div class="steam" id="steam4"> </div>
                <!-- Cofee mug -->
                <div id="cup">
                  <div id="cup-body">
                    <div id="cup-shade"></div>
                  </div>
                  <div id="cup-handle"></div>
                </div>

                <div id="saucer"></div>

                <div id="shadow"></div>
              </div>
              <!-- End Cofee mug -->
    </div>
    <div class="contact-section">
      <p>Bonvin Adrien</p>
      <p>81 rue de Ménac,<br> 44100 Nantes, FRANCE</p>
      <p>bonvin.adrien@gmail.com</p>
      <p>06.79.39.80.15</p>
    </div>
  </div>
  <div class="footer-section">
    <div class="social-icons">
      <img src="../../../assets/pictures/logo/socialmedia/linkedin.png" (click)="goToWebsite(linkedin)">
      <img src="../../../assets/pictures/logo/socialmedia/email.png" (click)="openEmail()">
      <img src="../../../assets/pictures/logo/socialmedia/youtube.png" (click)="goToWebsite(youtube)">
      <img src="../../../assets/pictures/logo/socialmedia/github.png" (click)="goToWebsite(git)">
    </div>
    <p>© 2022 Design & build by Adrien Bonvin. Avaliable for work</p>
  </div>

</div>
