.container-header {
  position: fixed;
  width: 100%;
  height:12vh;;
  z-index: 1;

  display:flex;
  align-items:center ;
  justify-content: flex-end;
}


.item-header {
  font-size: 3vh;
  font-weight: bolder;
  font-family: Inter, sans-serif;

  display:flex;
  align-items: center;
  text-decoration: none;
  margin-right:6vw;
  animation: hoverAnimationOut 0.2s forwards normal;
}
.item-header:hover {
  animation: hoverAnimationIn 0.2s forwards normal;
}

.logo {
  margin-right:auto;
  margin-left:6vw;
  height:4.5vh;
  cursor: pointer;
}
    @media (max-width: 1000px) {
      .logo {
        min-width: 100px;
      }
    }
    @media (min-width: 2000px) {
      .logo {
      }
    }


button {
  border-radius: 10px;
  padding: 1.5vh 3vh;
  cursor: pointer;
}
    @media (max-width: 1000px) {
      .about {
        min-width: 100px;
      }
    }
    @media (min-width: 2000px) {
      .about {
        min-width: 100px;
      }
    }
button:hover {
  transition-duration: 0.1s;
}

.blue-button {
  background-color: #019494;
  border:#019494;
  color: white;
}

.blue-button:hover {
  background-color: #ffffff;
  color:#019494;
}

.white-button {
  background-color: #ffffff;
  border:#ffffff;
  color: #019494;
}

.white-button:hover {
  background-color: #019494;
  color:#ffffff;
}
