<div class="container-hero">
  <app-header></app-header>
  <app-full-page-img [mainText]="'Adrien Bonvin'"
  [secondaryText]="'Meet the nerd that is going to build from scratch your taylored website and give you a front display that will attract people and give them an experience that will make them click'"
  [sideText]="''"></app-full-page-img>
  <app-scrolling-picture-transition></app-scrolling-picture-transition>
  <app-skillset></app-skillset>
  <app-work
    [projectName]="'La lezardière, a design-oriented website with multiple pages to promote a BnB project.'"
    [projectDescription]="'Built with a combination of Angular (Frontend), Java/Spring (Backend) and Postgresql (Database), this webapp was built in collaboration with a teacher, for teachers. The design has been crafted taking in consideration all the client\'s needs, and mockops of the final design built on Firgma allowed for rapid feedback and validation of the final design of the website, prior to any developpement, ensuring no bad surprises regarding the final product delivered and any urgent critical  along the way.'"
    [projectMockup]="'../../../assets/pictures/work/lezardiere.mp4'"
    [projectMockupMobile]="'../../../assets/pictures/work/lezardiere.PNG'"
    [projectLink]="'https://domaine-dubuisson.web.app/'"
    [mockupId]="'lezardiere'"
    [flexDirection]="'row'">
  </app-work>
  <app-work
  [projectName]="'A webapp built for teachers to help build comunication with disabled children'"
  [projectDescription]="'Built with a combination of Angular (Frontend), Java/Spring (Backend) and Postgresql (Database), this webapp was built in collaboration with a teacher, for teachers. The design has been crafted taking in consideration all the client\'s needs, and mockops of the final design built on Firgma allowed for rapid feedback and validation of the final design of the website, prior to any developpement, ensuring no bad surprises regarding the final product delivered and any urgent critical  along the way.'"
  [projectMockup]="'../../../assets/pictures/work/lezardiere.PNG'"
  [projectMockupMobile]="'../../../assets/pictures/work/lezardiere.PNG'"
  [projectLink]="'https://domaine-dubuisson.web.app/'"
  [mockupId]="'pictoParolle'"
  [flexDirection]="'row-reverse'">
</app-work>
  <app-contact></app-contact>
  <app-footer></app-footer>
</div>
