/** Image préface */
  .container-main-img {
    margin: 0 auto;
    overflow:hidden;
    filter: brightness(100%);
    background-image: url('../../../../assets/pictures/hero/stockMan.jpg');
    background-size: cover;
    background-position: 50% 30%;
    height:100vh;
  }
          @media (max-width: 1200px) {
            .container-main-img {
              background-position: 60% 0%;

            }
          }
  .opac-background {
    position: absolute;
    width:50%;
    padding:0;
    margin:0;
    background :linear-gradient(to right , #000000b7, #ffffff00);
    height:100vh;
  }

  h1, h2, p {
    margin: 0 6%;
    padding:0;
    text-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 20%);
    position:absolute;
    font-weight: bold;
    color: #ffffff;
  }
          @media (max-width: 600px) {
            h1, h2 {
              margin: 0;
              width: 100%;
              text-align: center;
            }
          }

  .container-main-img h1 {
    top: 20vh;
    font-size: 14vh;
  }
            @media (max-width: 600px) {
              .container-main-img h1 {
                font-size: 6vh;
              }
            }
            @media (min-width: 2000px) {
              .container-main-img h1 {
                font-size: 6vh;
              }
            }

  h2 {
    top: 40vh;
    font-size: 6vh;
    display: flex;
    align-items: center;
    color:#BFFCFB
  }
            @media (max-width: 600px) {
              h2 {
                font-size: 5vh;
              }
            }
            @media (min-width: 2000px) {
              h2 {
                font-size: 2.5vh;
              }
            }
    .hamburger-text {
      width:35vh;
      display: flex;
      justify-content: center;
      color:#FF8749;
  }

  p {
    top: 50vh;
    font-size: small;
    font-weight: normal;
    color:#ffffff;
    width: 40%;
  }

  button {
    position: absolute;
    top:70vh;
    left:6%;
    padding: 5vh 8vh;
    font-weight: bolder;
    font-size: 8vh;
    background-color: #019494;
    color: white;
    border: #019494;
    border-radius: 30px;
    cursor: pointer;
    animation: hoverAnimationOut 0.2s forwards normal;
  }
  button:hover {
    animation: hoverAnimationIn 0.2s forwards normal;
    background-color: white;
    color:#019494;
    border: white;
    transition-duration: 0.2s;
  }

