  <div class="section" id='hamburger'>
    <div class="hamburger">
      <img class="ingredient animationBottomBun"
       [ngStyle]="{'animation-delay' : animationDelayBottomBun}"
      src="../../../assets/pictures/hamburger/bottomBun.png" alt="bottomBun">
      <img class="ingredient animationSteak"
      [ngStyle]="{'animation-delay' : animationDelaySteak}"
      src="../../../assets/pictures/hamburger/steak.png" alt="steak">
      <img class="ingredient animationCheese"
      [ngStyle]="{'animation-delay' : animationDelayCheese}"
      src="../../../assets/pictures/hamburger/cheese.png" alt="cheese">
      <img class="ingredient animationPickles"
      [ngStyle]="{'animation-delay' : animationDelayPickles}"
      src="../../../assets/pictures/hamburger/pickles.png" alt="pickles">
      <img class="ingredient animationOignons"
      [ngStyle]="{'animation-delay' : animationDelayOignons}"
      src="../../../assets/pictures/hamburger/oignons.png" alt="oignons">
      <img class="ingredient animationTomatoes tomatoes"
      [ngStyle]="{'animation-delay' : animationDelayTomatoes}"
      src="../../../assets/pictures/hamburger/tomatoes.png" alt="salad">
      <img class="ingredient animationSalad salad"
      [ngStyle]="{'animation-delay' : animationDelaySalad}"
      src="../../../assets/pictures/hamburger/salad.png" alt="salad">
      <img class="ingredient animationTopBun"
      [ngStyle]="{'animation-delay' : animationDelayTopBun}"
      src="../../../assets/pictures/hamburger/topBun.png" alt="topBun">
    </div>

    <div  class="main-text" [ngStyle]="{'opacity': opacityMainText}">
      <h1>My work is like a... <div class="hamburger-text" (mouseover)="changeHamburgerText()" (mouseleave)="changeHamburgerText()">{{hamburger}},</div>...let me explain :</h1>
    </div>

    <div class="encadres-texts">
      <div [hidden]="!showDevopsText" class="dev-ops">
        <h1>Devops Bun</h1>
        <h2>At the bottom of your burger, it will allow for hosting, maintaining and deploying your burger.</h2>
        <img class="docker kubernates">
      </div>

      <div [hidden]="!showFrontendText" class="front-end">
        <h1>FrontEnd Steak</h1>
        <h2>Must be of optimal quality to attract customers and make your burger memorable.</h2>
      </div>

      <div [hidden]="!showBackendText" class="back-end">
        <h1>Backend Cheese</h1>
        <h2>Cheese adds depth, complexity to the burger (databases, authentication...).</h2>
        <img class="java postgresql spring">
      </div>

      <div *ngIf="showApiText" class="api">
        <h1>API Pickles</h1>
        <h2>Calling other burger's pickles to multiply theire taste.</h2>
        <img class="api">
      </div>

      <div [hidden]="!showCustomerserviceText" class="customer-service">
        <h1>Customer Service Tomatoes</h1>
        <h2>Replacing bad ingredients with fresh ones is part of the process to keep the burger as tasty.</h2>
        <img class="git jira">
      </div>

      <div *ngIf="showGraphicdesignText" class="graphic-design">
        <h1>Graphic Design Oignons</h1>
        <h2>Subttle touch that adds personality and uniquness to the hamburger, helping it stand out.</h2>
        <img class="adobe-illustrator">

      </div>

      <div *ngIf="showSocialText" class="social">
        <h1>Social Salad</h1>
        <h2>Salad adds texture to the burger, good salad creates better burgers.</h2>
      </div>

      <div *ngIf="showUiuxText" class="ui-ux">
        <h1>UI/UX Bun</h1>
        <h2>Makes the Hamburger easy and enjoyable to consume, elevating the experience of the consumer to it's full potential.
        </h2>
        <img class="figma">
      </div>
    </div>
</div>
