  <div class="section">
    <div class="hamburger-plein">
      <img [hidden]="bottomBunMoved" class="ingredient animationBottomBun"
       [ngStyle]="{'animation-delay' : animationDelayBottomBun}"
      src="../../../assets/pictures/hamburger/bottomBun.png" alt="bottomBun">
      <img [hidden]="steakMoved" class="ingredient animationSteak"
      [ngStyle]="{'animation-delay' : animationDelaySteak}"
      src="../../../assets/pictures/hamburger/steak.png" alt="steak">
      <img [hidden]="cheeseMoved" class="ingredient animationCheese"
      [ngStyle]="{'animation-delay' : animationDelayCheese}"
      src="../../../assets/pictures/hamburger/cheese.png" alt="cheese">
      <img [hidden]="picklesMoved" class="ingredient animationPickles"
      [ngStyle]="{'animation-delay' : animationDelayPickles}"
      src="../../../assets/pictures/hamburger/pickles.png" alt="pickles">
      <img [hidden]="oignonsMoved" class="ingredient animationOignons"
      [ngStyle]="{'animation-delay' : animationDelayOignons}"
      src="../../../assets/pictures/hamburger/oignons.png" alt="oignons">
      <img [hidden]="saladMoved" class="ingredient animationSalad salad"
      [ngStyle]="{'animation-delay' : animationDelaySalad}"
      src="../../../assets/pictures/hamburger/salad.png" alt="salad">
      <img [hidden]="topBunMoved" class="ingredient animationTopBun"
      [ngStyle]="{'animation-delay' : animationDelayTopBun}"
      src="../../../assets/pictures/hamburger/topBun.png" alt="topBun">
    </div>

    <div  class="main-text" [ngStyle]="{'opacity': opacityMainText}">
      Let me explain what your full stack hamburger will be made of
    </div>
    <div>

    </div>

    <div class="hamburger-eclate">
      <img [hidden]="!bottomBunMoved" class="ingredient animationBottomBun"
       [ngStyle]="{'animation-delay' : animationDelayBottomBun}"
      src="../../../assets/pictures/hamburger/bottomBun.png" alt="bottomBun">
      <img [hidden]="!steakMoved" class="ingredient animationSteak"
      [ngStyle]="{'animation-delay' : animationDelaySteak}"
      src="../../../assets/pictures/hamburger/steak.png" alt="steak">
      <img [hidden]="!cheeseMoved" class="ingredient animationCheese"
      [ngStyle]="{'animation-delay' : animationDelayCheese}"
      src="../../../assets/pictures/hamburger/cheese.png" alt="cheese">
      <img [hidden]="!picklesMoved" class="ingredient animationPickles"
      [ngStyle]="{'animation-delay' : animationDelayPickles}"
      src="../../../assets/pictures/hamburger/pickles.png" alt="pickles">
      <img [hidden]="!oignonsMoved" class="ingredient animationOignons"
      [ngStyle]="{'animation-delay' : animationDelayOignons}"
      src="../../../assets/pictures/hamburger/oignons.png" alt="oignons">
      <img [hidden]="!saladMoved" class="ingredient animationSalad salad"
      [ngStyle]="{'animation-delay' : animationDelaySalad}"
      src="../../../assets/pictures/hamburger/salad.png" alt="salad">
      <img [hidden]="!topBunMoved" class="ingredient animationTopBun"
      [ngStyle]="{'animation-delay' : animationDelayTopBun}"
      src="../../../assets/pictures/hamburger/topBun.png" alt="topBun">
    </div>
</div>
